// ================= Colors =================
$webkit-backdrop-filter: blur(10px);
$backdrop-filter: blur(10px);
$box-shadow : 0 4px 10px rgba(0, 0, 0, 0.3);
$color-bg: #0f0f0f; // Dark background
$color-surface: #1e1e1e; // Card background
$color-accent: #ff4c60; // Accent (buttons, highlights)
$color-accent-hover: #ff667a; // Accent hover
$color-text: #ffffff; // Main text
$color-muted: #aaaaaa; // Secondary text